@page "{handler?}"
@model FrameworksEducation.AspNetCore.Chapter_13.RazorPages.Pages.Products.IndexModel
@{
    ViewData["Title"] = "Products page";
}
<div class="text-center">
    <h1 class="display-4">Продукты</h1>
</div>
<div class="w-100">
    <div class="row d-flex justify-content-center">
        <div class="col-xl-11">
            @foreach (ProductDto product in Model.Products)
            {
                <partial name="_ProductCard" model="product"/>
            }
        </div>
    </div>
</div>