@page "{serviceName}"
@model FrameworksEducation.AspNetCore.Chapter_13.RazorPages.Pages.Services.IndexModel
@{

}
<div class="text-center">
    <h1 class="display-4">Заполнитель для названия сервиса</h1>
</div>