@model ProductDto

<div class="card rounded-3 mb-4" style="max-height: 540px;">
    <div class="row d-flex justify-content-between align-items-center">
        <div class="col-md-3">
            <img class="img-fluid rounded-3" style="width: 300px; height=300px;" src="https://tmka72.ru/TMKA/media/photos/2022/11/14/8e56c287600191f403c273378136218b.jpg" />
        </div>
        <div class="col-md-7">
            <div class="card-body">
                <a asp-page="Product" asp-route-id="@Model.Id"><h5 class="card-title">@Model.Title</h5></a>
                <p class="card-text">@Model.Description</p>
            </div>
        </div>
        <div class="col-md-2">
            <button class="btn btn-primary mb-3">Купить</button>
            
            <a asp-page="Edit" asp-route-id="@Model.Id" class="btn btn-primary" role="button">Редактировать</a>
        </div>
    </div>
</div>