@page "{handler}/{productName}"
@model FrameworksEducation.AspNetCore.Chapter_13.Pages.Products.ProductModel
@{
}
<div class="text-center">
    <h1 class="display-4">Заполнитель для названия продукта</h1>
</div>