name: Deploy to VPS

on:
  workflow_dispatch:
    inputs:
      mode:
        description: 'Deployment mode'
        required: true
        default: 'minimal'
        type: choice
        options:
        - minimal
        - demo

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Deploy to server
      uses: appleboy/ssh-action@v1.0.0
      with:
        host: ${{ secrets.CAR_PARK_SERVER_HOST }}
        username: ${{ secrets.CAR_PARK_SERVER_USER }}
        password: ${{ secrets.CAR_PARK_SERVER_PASSWORD }}
        port: ${{ secrets.CAR_PARK_SERVER_PORT }}
        script: |
          set -e
          wget -q https://raw.githubusercontent.com/nekix/Education/main/Project/CarPark/deploy/deploy.sh -O deploy.sh
          chmod +x deploy.sh
          ./deploy.sh -m ${{ inputs.mode }} -g https://github.com/nekix/Education.git
